@using EntityLayer.Concrete
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br>
<h2>Hakkımızda</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hakkımda Başlığı</th>
        <th>Görsel-1</th>
        <th>Görsel-2</th>
        <th>Durum</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.AboutID</td>
    <td>@item.AboutDetails1</td>
    <td>@item.AboutImage1</td>
    <td>@item.AboutImage2</td>
    <td>
        @if (item.Activation == true)
        {<a href="/About/AktifMi/@item.AboutID" class="btn btn-warning">Pasif Yap</a>}
        else
        {<a href="/About/AktifMi/@item.AboutID" class="btn btn-success">Aktif Yap</a>}
    </td>
    <td><a href="/About/EditAbout/@item.AboutID" class="btn btn-info">Güncelle</a></td>
    <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-danger">Sil</a></td>
</tr>
    }
</table>
@Html.Action("AboutPartial", "About")